.products {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 1120px) {
  .products {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}
