.descr,
.model {
  margin: 0;
}

.product {
  margin: 0;
  padding: 5px;
  background-color: #212121;
}

.img-wrapper {
  height: 300px;
  background-color: antiquewhite;
}

.image {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.descr {
  padding: 10px;
  color: bisque;
}

.btn-bye {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background-color: burlywood;
    color: rgb(58, 44, 44);
    border-radius: 3px;
}

.btn-bye:active {
    transform: scale(0.95);
}

